
.formContainer {
    margin-top: 250px;
    background-color: #350b5c;
    border-radius: 12px;
    color: white;
}

.formContainer h3 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.signUpBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}